@model IEnumerable<ProductModel>


<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Sản phẩm</span> của chúng tôi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                <img class="product-img" src="~/media/products/@item.Image" alt="@item.Name">
                            </a>
                        </div>
                        <h3 class="product-name">@item.Name</h3>
                        <p class="product-price">
                            <span style="font-weight: bold">Giá sản phẩm: </span> <span class="price-value" style="color: #d70018;">@item.Price.ToString("#, ##0 VNĐ")</span>
                        </p>
                        <a href="cart.html" class="cart-btn">
                            <i class="fas fa-shopping-cart"></i> Add to Cart
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- end product section -->


@section Scripts
{
    <script>
        $('.add-to-cart').click(function () {
            var Id = $(this).data("product_id");

            $.ajax({
                type: "POST",
                url: "@Url.Action("Add", "Cart")",
                data: { Id: Id },
                success: function (result) {
                    if (result) {
                        Swal.fire("Thêm vào giỏ hàng thành công");
                    } else {
                        Swal.fire("Có lỗi xảy ra, vui lòng thử lại.");
                    }
                },
                error: function (req, status, error) {
                    console.log("Lỗi thêm vào giỏ hàng", error);
                    Swal.fire("Lỗi khi thêm vào giỏ hàng, vui lòng thử lại.");
                }
            });
        });
    </script>
}
